.table-responsive {
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.table thead {
    background: #3182ce;
    color: #fff;
}

.table th, .table td {
    padding: 0.75rem 1rem;
    text-align: left;
    border: 1px solid #e5e7eb;
}

.table th {
    font-size: 0.875rem;
    font-weight: 600;
}

.table td {
    font-size: 0.875rem;
}

.book-cover {
    width: 50px;
    height: 70px;
    object-fit: cover;
    border-radius: 4px;
}

.table td:last-child,
.table th:last-child {
    text-align: center;
    vertical-align: middle; /* Agar konten berada di tengah secara vertikal */
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 8px;
}

.edit-btn {
    color: #4caf50;
}

.delete-btn {
    color: #f44336;
}
