/* Pengaturan Sidebar */

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: #2d3748;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.sidebar .brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 10px;
    font-weight: bold;
}

.profile-pic {
    width: 80px;
    /* S0esuaikan ukuran sesuai kebutuhan */
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: -5px;
    /* Jarak antara foto dan nama */
}

.sidebar ul {
    padding: 0;
    width: 100%;
}

.sidebar ul li {
    width: 250px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.sidebar ul li:hover a {
    color: #3182ce;
}

.sidebar ul li a {
    color: white;
    /* Mengatur warna teks menjadi putih */
    text-decoration: none;
    /* Menghapus garis bawah pada tautan */
    display: block;
    /* Agar elemen a memenuhi area li */
    width: 100%;
    /* Agar elemen a menyesuaikan lebar li */
}


/* Pengaturan Container untuk konten utama */

.container {
    margin-left: 250px;
    padding: 20px;
    background-color: #edf2f7;
    min-height: 100vh;
}


/* Pengaturan Header */

.header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-bottom: 1px solid #e2e8f0;
}

.header .search {
    display: flex;
    align-items: center;
}

.header .search input {
    padding: 5px;
    border: 1px solid #e2e8f0;
    border-radius: 3px;
    margin-right: 5px;
}

.header .user .btn {
    color: #2d3748;
    padding: 5px;
    margin: 0 5px;
    font-size: 18px;
    cursor: pointer;
}


/* Pengaturan Card untuk Statistik */

.cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: #ffffff;
    padding: 20px;
    width: calc(25% - 10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card .box h1 {
    margin: 0;
    color: #2d3748;
    font-size: 24px;
}

.card .box h3 {
    margin: 5px 0 0;
    font-weight: normal;
    color: #718096;
}

.icon {
    font-size: 32px;
    color: #a0aec0;
}


/* Pengaturan Tabel Riwayat Peminjaman */

.transactions {
    margin-top: 30px;
}

.transactions table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.transactions th,
.transactions td {
    padding: 10px;
    border: 1px solid #e2e8f0;
    text-align: left;
    background-color: #718096
}

.transactions th {
    background-color: #f7fafc;
    color: #4a5568;
}

.transactions .btn {
    background-color: #3182ce;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
}